 

<div class="story-body scrollytelling">
    <h3>Latin American countries have a strong, shared taste for genres like Reggaeton and trap</h3>

    <div id="chart-2" class="chart">
    </div>

    <div class="steps">
      <div class='step'>
        <p>In Latin America, popular music is often dominated by what’s known as urban music: genres such as <audio id="nyan" src="images/winsin.mp3" preload="metadata" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
        <a class="btn" id="nyan-btn">&#9654; reggaeton</a>, Latin hip hop, Latin trap and dembow.</p>
      </div>
      <div class='step' id='step-two'>
        <p>Songs in this space have racked up billions of streams on Spotify. Many also pointed to a Latin music boom in the U.S. following Luis Fonsi’s 2017 hit <audio id="despacito" src="images/despacito.mp3" preload="metadata" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
        <a class="btn" id="despacito-btn">&#9654; Despacito</a></p>
      </div>
      <div class='step' id='step-three'>
        <p>In June, many countries throughout Central and South America (plus Mexico and Spain) were listening to the same artists: <audio id="badbunny" src="images/badbunny.mp3" preload="metadata" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
        <a class="btn" id="badbunny-btn">&#9654; Bad Bunny</a>, a Puerto Rican Latin trap and reggaeton singer; <audio id="yatra" src="images/yatra.mp3" preload="metadata" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
        <a class="btn" id="yatra-btn">&#9654; Sebastian Yatra</a>, known for Latin pop and reggaeton; and <audio id="londra" src="images/londra.mp3" preload="metadata" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
        <a class="btn" id="londra-btn">&#9654; Paulo Londra</a>, an Argentinian rapper and latin trap artist, among others.</p>
      </div>
        <div class='step' id='step-one'>
        <p>Brazil’s top songs were almost completely different from those in the rest of Latin America.</p>
      </div>
      <div class='step'>
        <p>Part of the reason is Brazil’s unique history. The former Portuguese colony is the lone speaker of the language in the region. Many of its popular genres are unique to the nation: bossa nova and samba, to name just a few.</p>
      </div>
    <div class='step'>
        <p>
        <audio id="sert" src="images/sert.mp3" preload="metadata" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
        <a class="btn" id="sert-btn">&#9654; Sertanejo</a>, a type of Brazilian pop music evolved out of local folk music, has been the most played music genre on Brazilian radio since the 1990s, constantly topping the Brazilian music charts.</p>
      </div>
      <div class='step'>
        <p>In June, Brazilian sertanejo artist,<a class="btn" id="mar-btn">&#9654; Marília Mendonça</a>, known for Latin pop and reggaeton; and <audio id="mar" src="images/mar.mp3" preload="metadata" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>, dominated the country’s top song chart with 15 tracks. Songs from other Brazilian sertanejo artists such as Zé Neto & Cristiano and Gusttavo Lima also topped Brazil's chart, but nowhere else.</p>
      </div>
    </div>
</div>

<script src="scripts/chart-2.js"></script>

