<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">

<div class="header">
  <p class="kicker">Music</p>
  <h1 class="headline">Which countries like the same kind of music? <img class='music' src="../src/assets/musicnotes.png"></h1>
  <h2 class="subhead">According to Spotify's Top 200 song charts from around the world</h2>
  <p class="byline">By Amy O'Kruk</p>
  <p class="date">Published October, 2019</p>
</div>

<div class="story-body">
    <p class="body-text serif">Music has never been more accessible. With the rise of music-streaming platforms, listeners can play the majority of songs ever made by anyone for free. Spotify — with 232 million monthly users and 108 million paying subscribers globally — leads the pack.</p>
    <p class="body-text serif">Whatever your appetite, music unites fans across countries. And wherever you are, Spotifiy keeps track of it all. The service publishes daily top song charts for 60-plus countries around the world. </p>
    <p class="body-text serif">So how do these countries stack up against each other? Who likes what and which countries like the same songs? Let’s take a look.</p>
</div>

<div class="chart-section">
  <div class="chart-row">
      <div class="chart">
          <p class="chart-title">From Peru to Panama, Latin America marches to the same tunes</p>
          <p class="chart-subhead">Spotify publishes top 200 song charts for more than 60 countries worldwide. Countries are scored based on how many song choices they had in common.</p>
          <div class="story-body scaled">
              <p class="scaled">The same tops songs<img class='scale' src="assets/scale-01.png">Completely different top songs</p>
          </div>
      </div>
  </div>
</div>

<div class='hide'>
  <img src="assets/spotify-mobile.png">
</div>

{{!-- <div class='hidden-container'>
    <i class="fas fa-info-circle"></i>
    <p class='hiddentxt'>What am I looking at?<span class="hiddenimg"><img src="assets/heatmap_key.png" width="400"/></span></p>
</div> --}}


{{!< bootstrap}}

{{> homework-13/10-test }}

  </div>
</div>

<div class="story-body">
    <h3 class="section-head serif">Latin American countries have a strong, shared taste for genres like Reggaeton and trap</h3>
    <p class="body-text serif"> In Latin America, popular music is often dominated by what’s known as urban music: genres such as reggaeton, Latin hip hop, Latin trap, dembow, and urban champeta. Songs in this space have racked up billions of streams on Spotify. Many also pointed to a Latin music boom in the U.S. following Luis Fonsi’s 2017 hit “Despacito.”</p>
    <p class="body-text serif">In June, many countries throughout Central and South America (plus Mexico and Spain) were listening to the same artists: Bad Bunny, a Puerto Rican Latin trap and reggaeton singer; Sebastian Yatra, known for Latin pop and reggaeton; and Paulo Londra, an Argentinian rapper and latin trap artist, among others.</p>
</div>

<div class="story-body">
    <h3 class="section-head serif">Brazil stands alone</h3>
    <p class="body-text serif"> Brazil’s top songs were almost completely different from those in the rest of Latin America.</p>
    <p class="body-text serif">Part of the reason is Brazil’s unique history. The former Portuguese colony is the lone speaker of the language in the region. Many of its popular genres are unique to the nation: bossa nova and samba, to name just a few.</p>
    <p class="body-text serif">Sertanejo, a type of Brazilian pop music evolved out of local folk music, has been the most played music genre on Brazilian radio since the 1990s, constantly topping the Brazilian music charts.</p>
    <p class="body-text serif">In June, Brazilian sertanejo artist, Marília Mendonça, dominated the country’s top song chart with 15 tracks. Songs from other Brazilian sertanejo artists such as Zé Neto & Cristiano and Gusttavo Lima also topped Brazil's chart, but nowhere else.</p>
</div>

<div class="button">
  <button id="hello"><a href='https://github.com/AmyOKruk/Spotify_charts_analysis'>View the code</a></button>
</div>

<div class="footer">
    <p class="note">Data and methods:</p>
    <!-- <p class="note">Canada's<a href="https://www12.statcan.gc.ca/census-recensement/2016/dp-pd/prof/details/page.cfm?Lang=E&Geo1=PR&Code1=01&Geo2=&Code2=&SearchText=Canada&SearchType=Begins&SearchPR=01&B1=All&TABID=1&type=0"> 2016 census data.</a></p> -->
    <p class="note">To collect the data, I scraped Spotify’s Top 200 songs per country for the week of 06/21/2019 to 06/28/2019.</p>  
    <p class="note">Spotify’s top song charts heavily favour countries from North America and Europe. While I included every available country, nearly all of Africa and many parts of Asia are not represented here.</p>    
    <p class="note">To create the correlation matrix, I calculated the jaccard index of different top 200 song lists. I used a clustermap method to hierarchically order the data by similarity and then by continent.</p>  
    <p class="note">One limitation of this analysis is that the data represents a single week, offering us a snapshot of trends. More concrete observations could be made if the data represented a larger time period.</p>  
</div>